
header{
	
	padding: 10px 20px;
	border-radius: 2px;
	margin-bottom: 5px;
	margin: 1px;
}
 
 div.badan{
 	background-color: white;
	border-radius: 15px;
	border: 10px solid #f0f0f0;
	margin-bottom: 10px;
	text-decoration-color: black;
	color: black;
	margin-left : 10px;

 }
table{
	border:1px;
}

.form-row{
	width: 500px;
}
div.mulai{
	padding: 10px 20px;
	border-radius: 2px;
	margin-bottom: 5px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	color: black;
	text-decoration-color: black;
	font-family: sans-serif;
	background-color: 	#00FFFF;
	
	height: 450px;
}

.footer{
	padding:5px 20px;
	margin: 1px;
	text-align: center;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #00FFFF;
	font-family: Bradley Hand ITC;
	color : blue;

}
.btn-mulai{
	margin-top: 150px;
	height:100px;
	width: 200px;
}